@page "/player/room/{PlayerId:guid}"
@inject HttpClient Http
@using System.Net.Http.Json
@using Rollocracy.Domain.Entities

<h3>Salle de jeu</h3>

@if (Player is null)
{
    <p>Chargement...</p>
}
else
{
    <p>Pseudo : @Player.PlayerName</p>
    <p>MJ : @(Player.IsGameMaster ? "Oui" : "Non")</p>
}

@code {
    [Parameter] public Guid PlayerId { get; set; }

    private PlayerSession? Player;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            Player = await Http.GetFromJsonAsync<PlayerSession>($"api/session/player/{PlayerId}");
        }
        catch
        {
            Player = null;
        }
    }
}